dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.256);
}

body:has(#overlay[open]) {
    overflow: hidden;
}

dialog {
    padding: 0;
    outline: none;
}

dialog .wrapper {
    padding: 16px;
}